<% provide(:title, "Help") %>
<h1>Help</h1>

<h3>Sign up</h3>
  <p>
  For new users, you can register an account with your username,
  email and password. One email can only register one account.
  After signing up, activation emails will be sent to you
  within 5 minutes to activate your account. By clicking on the
  link in your activation email, you will then redirected to
  your to-do list and your account is then successfully
  activated.
  </p>


<h3>Log in & log out</h3>
  <p>
  For users who have already signed up, you can log in with your
  email and password and log out your account by clicking on
  ‘log out’ on the navigation bar. While logging in, if you
  tick the checkbox before ‘Remember me on this computer’, you
  will not be required to log in again when you want to access
  your to-do list next time!
  </p>

<h3>Password & username reset</h3>
  <p>
  For users who have already logged in, you can reset your
  username and/or your password by clicking on ‘Settings’ on
  the navigation bar. However, please note that your email
  address cannot be reset.
  </p>
  <p>
  For users who forget their password and are unable to log in,
  you can click the ‘forgot password?’ link on the login page.
  An email containing instructions on how to reset your password
  will then be sent within 5 minutes. By clicking on the link
  in the email, you will then be redirected to password reset
  page.
  </p>

<h3>Adding new task</h3>
  <p>
  A new task can be created by selecting ‘add new task’ and
  entering relevant information such as title, description(optional),
   deadline(optional) and associated tag names(optional).
  </p>

<h3>Searching (filtering) by tag name</h3>
  <p>
  There is a text field on the main page with placeholder
  ‘search by tag..’ and all the tasks containing this tag will
  be displayed after entering a valid tag name. If no such tag
  exists, an warning message will be displayed.
  </p>
  <p>
  Furthermore, you can also get all task with a particular tag
  name by clicking the tag name on either the index page or show
  page. The tag name will be automatically filled into the
  search bar.
  </p>


<h3>Sorting by deadline</h3>
  <p>
  Below the search bar, there is a ‘sort by deadline’ button.
  Clicking on it reorders the tasks according to the deadline
  in ascending order.
  </p>
