<div class="center">
  <h1 style="margin-top: 30vh; margin-bottom: 5vh; margin-left: 11vh; color = #FFF;
    font-size: 5vw;">
    <strong>welcome to task manager</strong></h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
