<div class="center">
  <h1 style="margin-top: 30vh; margin-bottom: 5vh; margin-left: 20vh;
    font-size: 5vw;">
    <strong>Welcome to the To-do App!</strong></h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
