<div class="center">
  <h1 style="margin-top: 30vh; margin-bottom: 5vh; margin-left: 15vh;
    font-size: 5vw; color: #FFF">
    <strong>welcome to task manager</strong></h1>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
