<p>
    <strong>Task:</strong>
    <%= @task.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<p>
    <strong>Deadline:</strong>
    <%= @task.deadline.strftime("%Y-%m-%d, %H:%M") if @task.deadline.present? %>
</p>

<p>
    <strong>Tag(s):</strong>
    <%= render @task.tags %>
</p>
