<div class="card">
  <div class="container">
<%= render 'task' %>
<%= link_to edit_user_task_path(user_id: @task.user.id,
  id: @task.id) do %>
    <span class="glyphicon glyphicon-pencil"></span>
<% end %> |
<%= link_to 'Back', user_tasks_path(@user) %>
</div>
</div>
